.contact {
  &__intro {
    margin-bottom: 60px;
  }

  @media (min-width: $bp-tablet-landscape) {
    &__form {
      @include span(6);
      padding-left: 0;
    }

    &__lateral {
      @include span(6);
      padding-right: 0;
    }
  }


  &__map {
    clear: both;
    position: relative;
    background-color: $c-map-background;
    @extend .section--full-bottom;

    &:before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: solid 3px darken($c-map-background, 15%);
      border-radius: 50%;
    }

    &:after {
      content: '';
      background: $c-map-background;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 30px;
      transform-origin: 0 0;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    &__embed {
      height: 400px;
      position: relative;
      z-index: 10;
    }

    &__btn {
      position: absolute;
      z-index: 11;
      left: 50%;
      transform: translateX(-50%);
      bottom: -15px;
    }
  }
}

/******************
* FORM
******************/

.wpcf7 {
  .material {
    position: relative;
  }

  p {
    margin-bottom: 0;
  }

  input:not([type="checkbox"]), textarea, .custom-select {
    width: 100%;
  }

  .material {
    label {
      position: absolute;
      top: 13px;
      left: 15px;
      transform-origin: 0 0;
      background: #fff;
      padding: 0 5px;
      transition: all 0.2s ease-in-out;
      font-style: italic;
      color: $c-grey-85;
      cursor: text;
      pointer-events: none;
    }

    &.labelOver {
      label {
        transform: translate3d(0, -22px, 0) scale(0.8);
      }
    }
  }


  [type="submit"] {
    margin-top: 10px;

    &.wpcf7-mail-sent-ok {
      @extend .btn--disabled;
    }
  }
}

.label {
  &--small {
    line-height: 1.5em;
    font-style: italic;
    color: #888;
    font-size: 1.2rem;


    .wpcf7-list-item {
      margin-left: 0;
    }
  }
}

p.label--small {
    margin-top: 20px;
    margin-bottom: 25px;
}

input[type="checkbox"] {
  appearance: none;
  width: 23px;
  height: 23px;
  border-radius: 2px;
  vertical-align: middle;
  margin-right: 10px;
  border: $co-border-simple;
  border-color: $c-grey-88;
  box-shadow: inset 0 0 2px rgba($c-black,0.1);
  transition: all 0.2s ease-in-out;
  background: url(../images/icons/check.svg) center/15px no-repeat;
  background-position-y: 30px;
  cursor: pointer;

  &:not(:checked):hover {
    background-color: $c-grey-9;
    border-color: $c-grey-85;
  }
  
  &:checked {
    border-color: $c-black;
    background-position-y: center;
  }
}

.checkbox-wish-cards {
  font-size: 1.4rem;

  .wpcf7-list-item-label {
    display: inline-block;
    padding: 5px 7px;
    background: rgba($c-primary, 0.6);
    color: $c-white;
  }
}

textarea {
  padding: 20px;
}

input:not([type="checkbox"]), textarea, .custom-select {
  border: $co-border-simple;
}

input:not([type="checkbox"]), .custom-select {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}

.custom-select {
  position: relative;
  min-width: 280px;
  cursor: pointer;

  &:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) translateY(-2px) rotate(45deg);
    box-sizing: border-box;
    border: solid 2px $c-grey-88;
    border-top: none;
    border-left: none;
    transition: all 0.2s ease-in-out;
  }
  
  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80px;
    background: linear-gradient(to left, rgba($c-black, 0.1), rgba($c-black, 0));
    opacity: 0.5;
    transform: translateZ(0);
    transition: opacity 0.4s ease-in-out;
  }
  
  &:hover {
    &:after {
      border-color: $c-grey-3;
    }

    &:before {
      opacity: 1;
    }
  }

  &__list {
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 53px;
    padding: 0;
    margin: 0;
    background: $c-white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  &__item {
    padding: 0 20px;
    cursor: pointer;
    opacity: 0;
    
    &.selected {
      background: $c-grey-9;
      color: $c-grey-85;

      @extend .sage-icon;
      @extend .sage-icon-check;

      &:before {
        font-size: 12px;
        color: $c-grey-88;
        margin-right: 10px;
      }
    }
    
    &:hover {
      background: $c-grey-9;
    }
  }

  &.open {
    .custom-select__list {
      transition: all 0.3s ease-out;
      pointer-events: all;
      visibility: visible;
      opacity: 1;
      transform: translate3d(0,0,0);
    }

    .custom-select__item {
      animation: customSelectItemIn 0.3s ease-out;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;

      @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
          animation-delay: #{0.06 * ($i - 1)}s;
        }
      }
    }

    @keyframes customSelectItemIn {
      from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
      }

      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.wpcf7-form-control-wrap {
  display: block;
}

.wpcf7-list-item-label {
  cursor: pointer;
}

span.wpcf7-not-valid-tip {
  font-size: 9px;
  line-height: 2.4em;
  background: $c-alert;
  color: $c-white;
  display: inline-block;
  padding: 0 6px;
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translateY(50%);
}

div.wpcf7-response-output {
  display: inline-block !important;
  padding: 10px 15px;
}

div.wpcf7-mail-sent-ok {
  background: $c-primary;
  color: $c-white;
  border: none;
}

div.wpcf7-validation-errors {
  background: $c-alert;
  color: $c-white;
  border: none;
}

/**************************
* Wish cards
**************************/

.wish-card {
  display: inline-block;
  perspective: 1000px;

  &:hover &__inner {
    transform: rotateY(180deg);
  }

  &__inner {
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 2px 18px rgba($c-black, 0.25);
  }

  &__recto, &__verso {
    backface-visibility: hidden;
    display: block;

    position: absolute;
    top: 0;
    left: 0;
  }

  &__recto {
    position: relative;
    z-index: 1;
    transform: rotateY(0deg);
  }

  &__verso {
    position: absolute;
    display: block;
    transform: rotateY(180deg);
  }

  @keyframes spin3d {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(360deg);
    }
  }
}