/**************************
* DISCOVER ESKALIS TEMPLATE
**************************/

// Consultants

.consultants-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 -15px;

  > * {
    flex: 0 0 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;

    @media (max-width: $bp-phone-max - 1) {
      flex-basis: 50%;
    }
  }
}

.consultant {
  &__content {
    @extend .post-card__header;
  }

  &__pic {
    border-radius: 10%;
    overflow: hidden;
    width: 100%;
    max-width: 233px;
    height: 0;
    padding-bottom: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
      filter: grayscale(100%);
    }
  }

  &__name {
    @extend .post-card__title;
    padding-bottom: 0;
  }

  &__company, &__function, &__mail, &__description {
    @extend .post-card__date;
  }

  &__function {

  }

  &__mail {
    padding-top: 0;
  }

  &__description {
    margin-top: 5px;
    font-size: 1.1rem;
    line-height: 1.6em;
  }

  &__btn {
    margin-top: 10px;
    padding: 0 5px;
  }
}