.formations {

  &__wrapper {
    margin-top: 60px;
  }

  &__category {
    font-size: 1.6rem;
    font-weight: normal;
    padding: 22px 16px;
    background: $c-grey-9;
    border: $co-border-simple;
    border-color: $c-grey-88;
    border-bottom: none;
    margin: 0;
    margin-top: 20px;
  }

  &__header {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__row {
    position: relative;
    display: flex;
    align-items: stretch;
    border: solid 1px $c-grey-3;
    flex-wrap: wrap;
    background: $c-white;
    transition: all 0.2s ease-in-out;
    
    &:hover {
      background: lighten($c-primary, 40%);
    }

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: -20px;
      bottom: -20px;
      width: 70px;
      right: 0;
      transform: translateX(100%);
    }

    & + & {
      border-top: none;
    }

    > * {
      margin: 0;
      padding: 0;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: $bp-tablet - 1) {
        flex-basis: 50% !important;
      }
    }


    > * + * {
      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #000;
      }
      border-left: solid 1px $c-grey-3;
    }
  }

  &__center {
    margin: 0;
  }

  &__title, &__target, &__price, &__duration, &__dates {
    padding: 15px;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 300;
    flex-basis: 30%;
    font-weight: normal;
  }

  &__target {
    flex-basis: 30%;
  }

  &__times {
    flex-basis: 20%;
    text-align: center;
  }

  &__duration, &__dates {
    margin: 0;
  }
  
  &__dates {
    background: $c-grey-3;
    color: $c-white;
    display: flex;
    flex-direction: column;

    &:empty {
      display: none;
    }
  }

  &__date {
    & + & {
      &:before {
        content: 'et';
        display: block;
        font-size: 0.8rem;
        line-height: 1rem;
        color: $c-grey-85;
      }
    }
  }

  &__price {
    flex-basis: 20%;
    padding-right: 30px;
  }

  &__download {
    position: absolute;
    right: 0;
    top: 50%;
    border-left: none;
    transform: translate(50%, -50%);

    .formations__center {
      position: relative;
      z-index: 10;
    }
  }

  &__buttons {
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;

    .btn {
      position: absolute;
      z-index: 8;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);

      &:first-child {
        transform: rotate(-45deg) translate3d(0px, 0, 0) rotate(45deg);
        transition-delay: 0.1s;
      }

      &:last-child {
        transform: rotate(45deg) translate3d(0px, 0, 0) rotate(-45deg);
      }
    }

  }

  &__row {
    &:hover {
      .formations__buttons {
        .btn {
          opacity: 1;
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);

          &:first-child {
            transform: rotate(-45deg) translate3d(60px, 0, 0) rotate(45deg);
            transition-delay: 0s;
          }

          &:last-child {
            transform: rotate(45deg) translate3d(60px, 0, 0) rotate(-45deg);
            transition-delay: 0.1s;
          }
        }
      }
    }
  }
}