/******************
* GLOBAL
******************/

.section {
  padding-top: 80px;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  & + .section {
    &:not(.section--no-before) {
      padding-top: 0;

      &:before {
        content: '';
        display: block;
        height: 93px;
        margin: 0 (-$l-content-padding) 80px;
        background: $c-grey-24;

        @media (max-width: $bp-tablet-landscape - 1) {
          height: 60px;
          margin-bottom: 40px;
        }
      }
    }
  }

  &--full {
    margin-left: -$l-content-padding;
    margin-right: -$l-content-padding;
  }

  &--full-bottom {
    @extend .section--full;
    margin-bottom: -$l-content-padding;
  }

  &--padding {
    padding-left: $l-content-padding;
    padding-right: $l-content-padding;
  }
}


/******************
* INTRODUCTION
******************/

.section--intro {
  padding-top: 0;
  margin-bottom: 80px;

  @media (max-width: $bp-tablet-landscape - 1) {
    margin-bottom: 30px;
  }
}

.intro {
  &__title {
    margin-top: 0;
  }
  
  &__block {
    position: relative;

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    margin-bottom: 30px;

    &__content {
      position: relative;
      @include span(8);
      padding-top: 50px;
      padding-left: 40px;
      padding-bottom: 40px;
      padding-right: calc(#{span(2)} + #{30px});
      background: $c-grey-4;
      color: $c-white;

      p {
        margin-bottom: 20px;
      }

      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 0;
      }
    }

    &__points {
      position: absolute;
      top: 40px;
      right: 40px;
      width: 4px;
      height: 4px;
      background: $c-white;
      border-radius: 50%;

      &:before, &:after {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        background: inherit;
        top: 0;
        right: 20px;
      }

      &:after {
        right: 40px;
      }
    }

    &__image {
      @include span(6);
      padding: 0;
      position: absolute;
      top: 90px;
      right: 0;
      transition: transform 1s ease-out;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  &__subtitle {
    font-size: 2.9rem;
    line-height: normal;
    letter-spacing: 0.06em;
    margin-bottom: 20px;
  }

  @media (max-width: $bp-tablet-landscape - 1) {
    &__block {
      &__content {
        width: 100%;
        padding: 20px;
      }
      &__points {
        display: none;
      }

      &__image {
        display: none;
      }
    }
  }
}

/******************
* CTA RAPPEL
******************/

.section--rappel {
  position: relative;
  background: $c-primary;
  padding-top: 40px;
  padding-bottom: 40px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/homepage/cta-rappel.jpg) no-repeat center/cover;
    opacity: 0.1;
  }
}

.rappel {
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__title, &__btn-wrapper {
    margin: 0;
    position: relative;
  }

  &__title {
    font-size: 2.4rem;
    line-height: normal;
    color: $c-white;
    font-weight: bold;
  }

  @media (max-width: $bp-tablet-landscape - 1) {
    &__wrapper {
      flex-direction: column;
      text-align: center;
    }

    &__title {
      margin-bottom: 20px;
    }
  }
}

/******************
* REFERENCES
******************/

.references {
  &__wrapper {
    list-style: none;
    padding: 0;
    margin: 0 (-$l-content-padding) 50px;
  }

  &__row {
    padding: 0 $l-content-padding;
    display: flex;
    border-top: $co-border-simple;

    &:last-child {
      border-bottom: $co-border-simple;
    }
  }

  &__item {
    flex-basis: 25%;
    min-height: 110px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: $co-border-simple;
    flex: 0 0 25%;
    position: relative;

    &:last-child {
      border-right: $co-border-simple;
    }

    &:before, &:after {
      opacity: 0;
      position: absolute;
      z-index: 10;
      transition: all 0.3s ease-in-out;
    }

    &:before {
      content: attr(data-cat);
      left: 50%;
      top: 50%;
      background: $c-primary;
      color: $c-white;
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      border-radius: 20px;
      transform: translate(-50%, -50%) scale(0.8);
      white-space: nowrap;
    }

    &:after {
      content: '';
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border: solid 10px transparent;
      border-bottom: none;
      border-top-color: $c-primary;
      transform: translate(-50%, -50%) translateY(23px);
    }

    &:hover {
      &:before, &:after {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(23px) translate3D(0, -60px, 0);
      }

      &:before {
        transform: translate(-50%, -50%) translate3D(0, -60px, 0);
      }
    }

    .img-wrapper {
      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $c-grey-8;
        mix-blend-mode: screen;
      }
    }

    img {
      position: relative;
      max-width: 100%;
      height: auto;
      filter: grayscale(1);
      opacity: 1;
    }
  }

  &__btn-wrapper {
    text-align: right;
    margin-bottom: 60px;
  }

  @media (max-width: $bp-tablet - 1) {
    &__row {
      flex-wrap: wrap;
    }

    &__item {
      flex-basis: 50%;

      &:nth-child(1), &:nth-child(2) {
        border-bottom: $co-border-simple;
      }

      &:nth-child(2) {
        border-right: $co-border-simple;
      }
    }

    &__btn-wrapper {
      text-align: center;
    }
  }
}

/******************
* NEWS
******************/

.news-wrapper {
  margin: 0 (-(gutter())) 50px;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .post-card {
    @include span(12 of 12);

    &:nth-child(4n) {
      clear: both;
    }

    @media (min-width: $bp-tablet) {
      @include span(4 of 12);
    }
  }
}

.news {
  &__btn-wrapper {
    text-align: right;
    margin-bottom: 60px;
  }

  @media (max-width: $bp-tablet-landscape - 1) {
    &__btn-wrapper {
      text-align: center;
    }
  }
}
