
/************
* NAVIGATION
************/

.nav-previous {
  float: right;

  @extend .sage-icon-after;
  @extend .sage-icon-slider-arrow-right-after;
}

.nav-next {
  float: left;

  @extend .sage-icon;
  @extend .sage-icon-slider-arrow-right;

  &:before {
    transform: rotate(180deg);
  }
}

.nav-previous, .nav-next {
  &:before, &:after {
    position: relative;
    bottom: 2px;
    font-size: 18px;
    color: $c-primary;
    vertical-align: middle;
    margin: 0 10px;
  }
}