.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  text-decoration: none;
  background-color: $c-primary;
  color: $c-white;
  padding: 12px 20px;
  border-radius: 1000px;
  letter-spacing: 0.075em;
  border: solid 2px transparent;
  overflow: hidden;
  cursor: pointer;

  @extend .sage-icon-after;
  @extend .sage-icon-button-arrow-after;

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -15px;
    right: -15px;
    background: $c-white;
    transform: skewX(-15deg) translate3d(-100%, 0, 0);
    transition: transform 0.3s;
  }

  &:after {
    font-size: 1.1rem;
    vertical-align: middle;
    margin-left: 20px;
    color: $c-white;
  }

  &:hover {
    border: solid 2px $c-primary;
    &:before {
      transform: skewX(-15deg) translate3d(0, 0, 0);
    }

    &:after {
      color: $c-primary;
      transform: translate3d(5px, 0, 0);
      transition: all 0.2s ease-out 0.2s;
    }
  }

  &--outline {
    background-color: transparent;
    border: solid 1px $c-white;
    box-shadow: inset 0 0 0 1px $c-white;
    overflow: hidden;
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: -15px;
      right: -15px;
      background: $c-white;
      transform: skewX(-15deg) translate3d(-100%, 0, 0);
      transition: transform 0.3s;
    }
    
    &:hover {
      border: solid 1px $c-white;

      &:before {
        transform: skewX(-15deg) translate3d(0, 0, 0);
      }

      &:after {
        color: $c-black;
      }
    }
  }

  &--small {
    padding: 3px 10px;
    font-size: 1.1rem;

    &:after {
      font-size: 0.8rem;
      margin-left: 15px;
    }
  }

  &--circle {
    width: 54px;
    height: 54px;
    font-size: 1.2rem;
    padding: 0;
    text-align: center;
    line-height: 50px;
  }

  &--pdf.btn {
    @extend .sage-icon-after;
    @extend .sage-icon-arrow-down-after;
    @extend .sage-icon;
    line-height: 35px;
    font-weight: bold;

    &:after {
      position: absolute;
      left: 50%;
      bottom: 10px;
      margin-left: 0;
      transform: translateX(-50%);
      transition-duration: 0.3s;
    }

    &:hover {
      &:after {
        transform: translateX(-50%);
        transition-delay: 0s;
      }
    }

    &.btn--disabled {
      background: $c-grey-9;
      color: $c-grey-88;
      cursor: auto;

      &:after {
        color: $c-grey-88;
      }

      &:hover {
        color: $c-grey-88;
      }
    }
  }

  &--book.btn, &--share.btn, &--apply.btn {
    text-indent: -9999px;

    &:after {
      text-indent: 0;
      position: absolute;
      font-size: 25px;
      left: 50%;
      top: 50%;
      margin-left: 0;
      transform: translate(-50%, -50%);
      transition-duration: 0.3s;
    }

    &:hover {
      &:after {
        transition-delay: 0s;
      }
    }
  }

  &--book.btn {
    @extend .sage-icon-after;
    @extend .sage-icon-questions-after;
  }

  &--share.btn {
    @extend .sage-icon-after;
    @extend .sage-icon-linkedin-after;

    &:after {
      font-size: 18px;
      transform: translate(-50%, -50%);
    }
  }

  &--apply.btn {
    &:after {
      content: 'GO';
      font-size: 16px;
      font-weight: bold;
      font-family: Montserrat;
      transform: translate(-50%, -50%);
    }
  }

  &--disabled {
    background: $c-grey-9;
    color: $c-grey-88;
    cursor: auto;

    &:before {
      content: none;
    }

    &:after {
      content: none;
    }

    &:hover {
      border-color: $c-grey-9;
      color: $c-grey-88 !important;
    }
  }
}