.post-card {
  margin-bottom: 20px;

  &__thumbnail-wrapper {
    position: relative;
    max-width: 229px;

    @extend .sage-icon;
    @extend .sage-icon-see;

    color: $c-white;

    img {
      max-width: 100%;
      height: auto;
    }

    &:before {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      font-size: 20px;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.4s ease-in-out;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba($c-black, 0.5);
      transform: translateZ(0);
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  }

  &:not(.has-post-thumbnail) {
    .post-card {
      &__thumbnail-wrapper {
        height: 229px;
        background: $c-grey-9 url(../images/header/eskalis-logo.svg) no-repeat center 70px/50%;
      }
    }
  }

  &__header {
    position: relative;
    margin-top: -50px;
    transition: all 0.3s ease-in-out;
    word-wrap: break-word;
  }

  &__date {
    color: $c-black;
    display: inline-block;
    padding: 5px 15px 0 10px;
    background: $c-white;
    font-size: 1rem;
  }

  &__title {
    color: $c-black;
    margin-top: -5px;
    padding: 5px 15px 15px 10px;
    background: $c-white;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: bold;
    max-width: 90%;
  }

  &__link {
    display: block;
    text-decoration: none;

    &:hover {
      .post-card {
        &__thumbnail-wrapper {
          &:before {
            opacity: 1;
            transform: translate(-50%, -50%) translateY(-20px);
          }

          &:after {
            opacity: 1;
          }
        }
        
        &__header {
          transform: translate3d(0, -10px, 0);
        }
      }
    }
  }

  @media (max-width: $bp-tablet - 1) {
    &__thumbnail-wrapper {
      max-width: none;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}