// Grid system
.container {
  //@include container();
}

.main {
  .sidebar-primary & {

  }
}
.sidebar {

}

.grid {
  &-row {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &-half {
    @include gallery(1 of 2 0.1);

    &:nth-child(2n + 1) {
      padding-left: 0;
    }

    &:nth-child(2n) {
      padding-right: 0;
    }
  }
}