@font-face {
  font-family: "sage-icon";
  src: url('../fonts/sage-icon/sage-icon.eot');
  src: url('../fonts/sage-icon/sage-icon.eot?#iefix') format('eot'),
  url('../fonts/sage-icon/sage-icon.woff2') format('woff2'),
  url('../fonts/sage-icon/sage-icon.woff') format('woff'),
  url('../fonts/sage-icon/sage-icon.ttf') format('truetype'),
  url('../fonts/sage-icon/sage-icon.svg#sage-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sage-icon:before {
  display: inline-block;
  font-family: "sage-icon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sage-icon-after:after {
  display: inline-block;
  font-family: "sage-icon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sage-icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.sage-icon-2x { font-size: 2em; }
.sage-icon-3x { font-size: 3em; }
.sage-icon-4x { font-size: 4em; }
.sage-icon-5x { font-size: 5em; }
.sage-icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.sage-icon-arrow-down:before { content: "\EA01" }
.sage-icon-button-arrow:before { content: "\EA02" }
.sage-icon-check:before { content: "\EA03" }
.sage-icon-facebook:before { content: "\EA04" }
.sage-icon-linkedin:before { content: "\EA05" }
.sage-icon-pdf:before { content: "\EA06" }
.sage-icon-pointer:before { content: "\EA07" }
.sage-icon-quote-left:before { content: "\EA08" }
.sage-icon-quote-right:before { content: "\EA09" }
.sage-icon-search:before { content: "\EA0A" }
.sage-icon-see:before { content: "\EA0B" }
.sage-icon-share:before { content: "\EA0C" }
.sage-icon-slider-arrow-right:before { content: "\EA0D" }
.sage-icon-ticket:before { content: "\EA0E" }
.sage-icon-questions:before { content: "\EA0F" }


.sage-icon-arrow-down-after:after { content: "\EA01" }
.sage-icon-button-arrow-after:after { content: "\EA02" }
.sage-icon-check-after:after { content: "\EA03" }
.sage-icon-facebook-after:after { content: "\EA04" }
.sage-icon-linkedin-after:after { content: "\EA05" }
.sage-icon-pdf-after:after { content: "\EA06" }
.sage-icon-pointer-after:after { content: "\EA07" }
.sage-icon-quote-left-after:after { content: "\EA08" }
.sage-icon-quote-right-after:after { content: "\EA09" }
.sage-icon-search-after:after { content: "\EA0A" }
.sage-icon-see-after:after { content: "\EA0B" }
.sage-icon-share-after:after { content: "\EA0C" }
.sage-icon-slider-arrow-right-after:after { content: "\EA0D" }
.sage-icon-ticket-after:after { content: "\EA0E" }
.sage-icon-questions-after:after { content: "\EA0F" }
