*, *:before, *:after {
  box-sizing: border-box;
  transform-origin: 50% 50%;
}

*, *:focus, *:active {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $f-primary;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.6em;
}

.screen-reader-text {
  display: none;
}