// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$susy: (
        columns: 12,
        gutters: 1/2,
        math: fluid,
        output: float,
        global-box-sizing: border-box,
        gutter-position: inside,
);

// Breakpoints

$bp-tablet: 720px;
$bp-phone-max: $bp-tablet - 1;
$bp-tablet-landscape: 1024px;
$bp-desktop: 1280px;
$bp-desktop-large: 1440px;

// Layout

$l-content-padding: 80px;

// Colors
$c-primary: #37D78B;
$c-notice: #3498db;
$c-alert: #e74c3c;

$c-white: #fff;
$c-black: #000;

$c-grey-2: #222;
$c-grey-3: #383838;
$c-grey-4: #313131;
$c-grey-6: #3D3D3D;
$c-grey-8: #565656;
$c-grey-85: #999999;
$c-grey-88: #B3B3B3;
$c-grey-89: #ddd;
$c-grey-9: #eee;
$c-grey-24: #F0F0F0;

$c-map-background: #E5E3DF;

// Typography

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/montserrat/montserrat-light.woff2') format('woff2'),
  url('../fonts/montserrat/montserrat-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

$f-primary: 'Montserrat', sans-serif;

// Components

$co-border-simple: solid 1px $c-grey-9;