.footer {
  position: relative;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  clear: both;
  background: $c-grey-2;
  margin-top: -2000px;
  height: 130px;
  padding-top: 80px;
  color: $c-grey-8;
  font-size: 1.2rem;
  overflow: hidden;

  &__inner {
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    a {
      opacity: 0.5;
      transform: translateZ(0);
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    li + li {
      margin-left: 20px;
    }
  }
}