html {
  height: 100%;
}

body {
  min-height: 100%;
}

.tle-layout {
  min-height: 100%;
  @include container;

  @media (min-width: $bp-tablet-landscape) {
    background-image: linear-gradient(left, $c-grey-6, $c-grey-6 50%, $c-grey-4 50%, $c-grey-4 100%);
  }
}

.wrap {
  @include span(80% no-gutters);

  @media (max-width: $bp-phone-max) {
    @include span(100% no-gutters);
  }
}

.nav-primary {
  @media (min-width: $bp-tablet) {
    @include span(20%);
  }
}

.tle-content {
  position: relative;
  z-index: 10;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  @media (max-width: $bp-tablet-landscape - 1) {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  > .sidebar {
    @include span(20%);
    padding: 0;
    background: $c-grey-6;
    margin-bottom: -100px;

    @media (max-width: $bp-tablet-landscape - 1) {
      @include span(100%);
      order: 99;
    }
  }

  > .main {
    @include span(80%);
    margin-top: -116px;
    margin-bottom: -50px;
    background: $c-white;
    padding: 70px $l-content-padding;
    position: relative;
    z-index: 10;

    @media (max-width: $bp-tablet-landscape - 1) {
      @include span(100%);
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-top: 0;
    }
  }
}

h1, .h1 {
  .h1__bubble {
    content: '';
    position: absolute;
    z-index: -3;
    top: -16px;
    left: -33px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $c-primary;

  }
  @media (max-width: $bp-tablet-landscape - 1) {
    margin-left: 20px;
    .h1__bubble {
      width: 40px;
      height: 40px;
      top: -10px;
      left: -25px;
    }
  }
}

h1, .h1, h2, h3, h4, h5, h6 {
  display: block;
  position: relative;
  z-index: 1;
  font-size: 4.8rem;
  line-height: 1.2em;
  font-weight: bold;
  margin-top: 1.2em;
  margin-bottom: 1.4em;

  span {
    position: relative;
    display: inline-block;

    .word {
      position: relative;
    }
  }
}

h1, .h1, h2, h3 {
  span {
    .word {
      &:after {
        content: '';
        position: absolute;
        z-index: -2;
        left: 0;
        right: 0;
        bottom: -4px;
        height: 5px;
        background: $c-grey-3;
      }
    }
  }
}

.page-header :first-child {
  margin-top: 0;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.1rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

@media (max-width: $bp-tablet-landscape - 1) {
  h1, .h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2.3rem;
  }

  h4 {
    font-size: 1.9rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.2rem;
  }
}

.heading {
  &--simple {
    span {
      .word {
        &:after {
          content: none;
        }
      }
    }
  }
}

p {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $c-primary;
  text-decoration: none;

  &:not(.btn) {
    .word {
      position: relative;
      z-index: 1;
      transition: all 0.3s ease-in-out;

      &:after {
        content: '';
        position: absolute;
        z-index: -2;
        left: 0;
        right: 0;
        bottom: -2px;
        height: 2px;
        background: $c-primary;
        transition: all 0.3s ease-in-out;
        transform-origin: 100% 0;
      }
    }
  }

  &:hover {
    &:not(.btn) {
      .word {
        &:after {
          transform: scale(1, 2.5);
        }
      }
    }
  }

}
