.banner {
  position: relative;
  background: $c-primary;
  display: flex;
  flex-direction: row;

  height: 300px;

  .barba-container.page-template-template-homepage & {
    height: 566px;
  }

  @media (max-width: $bp-tablet-landscape - 1) {
    display: block;
    height: auto !important;
    padding-bottom: 30px;
    border-bottom: solid 45px $c-grey-3;
  }

  &__brand {
    float: left;
    position: relative;
    z-index: 100;
    width: 20%;
    flex-basis: 20%;
    min-width: 20%;
    text-align: center;
    padding-top: 30px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));

    .brand {
      display: block;

      img {
        width: 80%;
        height: auto;
      }
    }

    @media (max-width: $bp-tablet-landscape - 1) {
      float: none;
      width: 100%;
      text-align: left;
      padding: 20px;

      .brand {
        img {
          width: 114px;
          height: auto;
        }
      }
    }
  }

  &__slider {
    list-style: none;
    margin: 0;
    padding: 0;

    &__wrapper {
      position: relative;
      z-index: 10;
      width: 80%;
      padding-bottom: 20px;
      margin-bottom: 116px;  // Negative margin of content
      padding-left: 20px;
      padding-right: 20%;
      align-self: flex-end;
      color: $c-white;

      @media (min-width: $bp-tablet-landscape) and (max-width: $bp-tablet-landscape) {
        position: absolute;
        bottom: 0;
      }
    }

    &__title, &__subtitle {
      padding-right: 90px;
    }

    &__title {
      font-size: 4.8rem;
      line-height: 1em;
      margin-bottom: 20px;
    }

    &__subtitle {
      margin-bottom: 20px;
      font-size: 2rem;
      line-height: 1.5em;
    }

    &__navigation {
      position: absolute;
      right: 0;
      bottom: 25px;
      width: 25%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0 20px;
    }

    &__nav {
      width: 73px;
      height: 73px;
      background: none;
      border: none;
      font-size: 73px;
      color: $c-white;
      padding: 0;
      cursor: pointer;
      transition: opacity 0.2s ease-in-out;

      @extend .sage-icon;
      @extend .sage-icon-slider-arrow-right;

      &--prev {
        transform: translateZ(0) rotate(180deg);
      }

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 1;
      }

      &:focus, &:active {
        outline: none;
      }
    }
    
    @media (max-width: $bp-tablet-landscape) {
      &__title, &__subtitle {
        padding-right: 20px;
      }

      &__title {
        font-size: 3.6rem;
        line-height: 1em;
      }

      &__nav {
        width: 40px;
        height: 40px;
        font-size: 40px;
      }
    }

    @media (max-width: $bp-tablet-landscape - 1) {
      &__wrapper {
        margin-bottom: 0;
        width: 100%;
        padding: 0 20px;
      }

      &__title {
        font-size: 2.1rem;
        line-height: 1em;
        margin-bottom: 10px;
      }

      &__subtitle {
        margin-bottom: 20px;
      }

      &__navigation {
        bottom: -50px;
        right: 0;
        justify-content: flex-end;
        width: auto;
      }
      
      &__nav {
        background: $c-grey-3;
        border-radius: 50%;
        margin-left: 10px;
      }
    }
  }

  &__slider {

  }

  &__slide {
    display: none;

    .word {
      overflow: hidden;
      vertical-align: top;
      padding-bottom: 6px;
      margin-bottom: -6px;
    }

    &:first-child {
      display: block;
    }
  }
  
  &__background {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.25;
    filter: saturate(0%);

    &__column {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-size: cover;
      left: 0;
      height: 700px;

      transition: transform 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000);
      
      &:first-child {
        border-left: none;
      }

      &:nth-child(2) {
        left: 20%;
      }

      &:nth-child(3) {
        left: 40%;
      }

      &:nth-child(4) {
        left: 60%;
      }

      &:nth-child(5) {
        left: 80%;
      }

      &__inner, &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    }
  }
}

.v-line {
  &__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  position: absolute;
  width: 2px;
  height: 100%;
  background: rgba($c-white, 0.5);

  left: 20%;

  &:nth-child(2) {
    left: 40%;
  }

  &:nth-child(3) {
    left: 60%;
  }

  &:nth-child(4) {
    left: 80%;
  }

  @media (max-width: $bp-tablet-landscape - 1) {
    display: none;
  }
}

.svg-defs {position: absolute;width: 0;height: 0;}

.nav-primary {
  padding: 0;
  position: fixed;
  right: 0;

  &__inner {
    padding: 20px 30px;
  }

  &__inner--focus {
    background: $c-grey-6;
  }

  .nav {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px 0;
      line-height: 1.4em;

      & + li {
        border-top: 1px solid $c-grey-8;
      }
    }

    a {
      position: relative;
      z-index: 1;
      color: $c-white;
      display: block;
      padding: 7px 0;
      text-decoration: none;
      max-width: 180px;
      font-size: 1.6rem;

      &:active {
        .shadow {
          &:after {
            color: #aaa;
          }
        }
      }

      .shadow {
        position: absolute;
        padding: inherit;
        top: 0;
        left: 0;
        transform: translate3D(-10px, 0, 0);
        opacity: 0;
        //clip-path: inset(0 100% 0 0);
        //clip-path: circle(0 at 0 0);
        transition: all 0.1s ease-in 0.03s;

        &:after {
          position: absolute;
          content: attr(data-text);
          color: $c-black;
          top: 0;
          left: 0;
          z-index: 2;
          padding: 8px 0;
        }

        &:before {
          content: attr(data-text);
          position: relative;
          display: inline;
          padding: 8px 0;
          background: $c-white;
          box-shadow: 8px 0 0px 0px $c-white, -8px 0 0px 0px $c-white;
          color: transparent;
          z-index: 1;
        }
      }
    }

    li {
      &.current-menu-item, a:hover {
        .shadow {
          //clip-path: inset(0 0 0 0);
          //clip-path: circle(200% at 50% 50%);
          transform: translate3D(0, 0, 0);
          opacity: 1;
          transition: all 0.2s ease-out;
        }
      }
    }
  }

  .word {
    position: relative;
    z-index: 10;

    .chars {
      position: relative;
      z-index: 100;
    }
  }

  &__underliner {
    background: #fff;
    position: absolute;
    z-index: -10;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    transform-origin: 0% 100%;
  }

  .widget {
    padding: 20px 30px 0;
    color: $c-grey-85;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.5em;
  }

  &__logo {
    display: block;
    opacity: 0.2;
    max-width: 60%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

// Social menu

.social {
  &__title {
    color: $c-grey-85;
    font-style: normal;
    font-size: 1.4rem;
    margin-bottom: 15px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  &__item {

    & + & {
      margin-left: 20px;
    }

    a {
      display: block;
      font-size: 0;
      @extend .sage-icon;

      &:before {
        font-size: 20px;
      }
    }

    &--facebook {
      a {
        @extend .sage-icon-facebook;
      }
    }

    &--twitter {
      a {
        @extend .sage-icon-linkedin;
      }
    }

  }
}

/****************
* MOBILE MENU
****************/

@media (max-width: $bp-tablet-landscape) {
  .wrap {
    width: 100%;
  }

  .nav-primary {
    background: $c-grey-3;
    width: auto;
    z-index: 9999;
    right: 0;
    top: 0;
    bottom: 0;
    left: 90px;
    transform: translate3d(100%, 0, 0);

    &__toggle {
      position: fixed;
      left: -100px;
      width: 100px;
      top: 0px;
      height: 100px;
    }

    &__burger {
      position: relative;
      background: $c-white;
      width: 30px;
      height: 2px;
      top: 40px;
      left: 40px;

      &:before, &:after {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: inherit;
        height: inherit;
        background: inherit;
      }

      &:after {
        top: 20px;
      }
    }

    &__overlay {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9998;
      background: rgba($c-black, 0.6);
      opacity: 0;
      transition: all 0.3s ease-in-out;
      visibility: hidden;

      .menuOpen & {
        opacity: 1;
      }
    }
  }
}
