.sidebar {
  color: $c-white;

  h2, h3, h4 {
    font-weight: normal;
    font-size: 1.6rem;
    letter-spacing: 0.03em;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.sidebar__inner {
  padding: 0;

  .widget {
    padding: 20px;

    & + .widget {
      margin-top: 20px;
    }
  }

  .widget_search {
    padding: 0;
  }
}

/***************
* SEARCH FORM
***************/

.search-form {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    background: linear-gradient(to left, rgba($c-black, 0.3), rgba($c-black, 0));
  }
}

.search-field {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  padding: 0 20px;
  padding-right: 80px;
  background: $c-white;
}

.search-submit {
  position: absolute;
  z-index: 1;
  right: 20px;
  bottom: -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 8px;
  color: $c-white;
  padding: 0;
  background: $c-primary;
  font-size: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @extend .sage-icon;
  @extend .sage-icon-search;

  &:before {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    font-size: 22px;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease-in-out;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -2;
    left: 50%;
    top: 0;
    width: 80px;
    height: inherit;
    background: inherit;
    border-radius: 0;
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, left 0.4s ease-in-out;
  }

  &:hover {
    background: darken($c-primary, 10%);

    &:after {
      width: 60px;
      border-radius: 50%;
      left: 0;
    }
  }
}

/*****************
* RECENT ARTICLES
*****************/

.widget_recent_entries {
  li {
    padding-bottom: 15px;
    line-height: normal;

    & + li {
      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 1px;
        background: $c-grey-8;
        margin-bottom: 15px;
      }
    }
  }

  a {
    line-height: 1.4em;
  }

  .post-date {
    display: block;
    font-size: 1rem;
    line-height: 1em;
    color: $c-grey-85;
    margin-top: 5px;
  }
}