.page-transition-wrapper {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.page-transition-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.page-transition-column {
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translateZ(0) scale(1, 0);
  background: $c-white;
  width: 16%;
  border-right: 1px solid #eee;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      left: 16% * ($i - 1);
    }
  }

  &--sidebar {
    left: 0;
    width: 16%;
    background: $c-white;
    transform-origin: 100% 100%;
  }

  &--content {
    left: 16%;
    width: 16%;
    background: $c-white;
    transform-origin: 100% 100%;
  }

  &--navbar {
    left: 32%;
    width: 16%;
    background: $c-white;
    transform-origin: 100% 100%;
  }

  @media (max-width: $bp-tablet-landscape - 1) {
    width: 20%;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        left: 20% * ($i - 1);
      }
    }
  }
}